{% extends "layout.html" %}
{% block title %}
    Question page {{ question_number }}
{% endblock %}
{% block content %}
    <h1>Survey - Question {{ question_number }}</h1>

    <form action="/survey" method="post" enctype="multipart/form-data">

        <div class="container mb-3">
            <h2>Question</h2>
            <p class="text-left">{{ question_text }}</p>
        </div>
        <div class="container mb-3">
            <div class="input-group">
                <span class="input-group-text"><b>Response</b></span>
                <textarea class="form-control" aria-label="With textarea" name="response"></textarea>
            </div>
        </div>
        <div class="container mb-3">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>

    </form>
    

    <!-- TODO: Add in Javascript to dynamically call ChatGPT API, and enter in questions and log responses -->

{% endblock %}